<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Details</title>
</head>
<body>
    <h1>{{single_hero.name}}</h1>
    <li> <h2>Alter ego is {{single_hero.alter_ego}}</h2> <h2>Primary ability is {{single_hero.primary_ability}}</h2> <h2>Secondary ability is {{single_hero.secondary_ability}}</h2><h2>Catch phrase is "{{single_hero.catch_phrase}}"</h2></li>
</body>
</html>